@page
@model holaweb.app.frontend.pages.ListModel
@{
}
<h1>Lista de saludos en varios idiomas</h1>
<table class="table">
    @foreach (var saludo in Model.ListaSaludos)
    {
        <tr> 
            <td>@saludo.EnEspanol</td>
            <td>@saludo.EnIngles</td>
            <td>@saludo.EnItaliano</td>
            <td>
                <a class ="btn btn-primary table-btn" asp-page="./Details" asp-route-saludoId=@saludo.id>
                        <i class="fas fa-info-circle fa-lg"></i></a>
            </td>

         
 
            
        </tr>
        
    }
    
</table>


<td>@saludo.EnItaliano</td>
            <td>
                 <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-saludoId=@saludo.id>
                    <i class="fas fa-info-circle fa-lg"></i></a>
            </td>
            
            <td>
                 <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-saludoId=@saludo.id>
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
